<a href="https://colab.research.google.com/github/ksokoll/Clickstream_Project_Exploration/blob/main/Clickstream_Analysis_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 1. Data Load

In [ ]:
# Download Retail Rocket Dataset
path = kagglehub.dataset_download("retailrocket/ecommerce-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/retailrocket/ecommerce-dataset?dataset_version_number=2...

100%|██████████| 291M/291M [00:01<00:00, 169MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/retailrocket/ecommerce-dataset/versions/2

In [ ]:
csv_files = [f for f in os.listdir(path) if f.endswith('.csv')]
print("Gefundene CSV-Dateien:", csv_files)

Gefundene CSV-Dateien: ['category_tree.csv', 'events.csv', 'item_properties_part2.csv', 'item_properties_part1.csv']

In [ ]:
path = path + "/" + "events.csv"

In [ ]:
df = pd.read_csv(path, sep=',')

# 2. Getting an idea about the table

In [ ]:
df.shape

(2756101, 5)

In [ ]:
df

             timestamp  visitorid event  itemid  transactionid
0        1433221332117     257597  view  355908            NaN
1        1433224214164     992329  view  248676            NaN
2        1433221999827     111016  view  318965            NaN
3        1433221955914     483717  view  253185            NaN
4        1433221337106     951259  view  367447            NaN
...                ...        ...   ...     ...            ...
2756096  1438398785939     591435  view  261427            NaN
2756097  1438399813142     762376  view  115946            NaN
2756098  1438397820527    1251746  view   78144            NaN
2756099  1438398530703    1184451  view  283392            NaN
2756100  1438400163914     199536  view  152913            NaN

[2756101 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [ ]:
df.isnull().sum()

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

# 3. First EDA

In [ ]:
df['transactionid'].notna().sum()

np.int64(22457)



Only 22457/2733644 rows (0,821% of all rows) have a transaction ID. This is the case due to the Ecommerce-Funnel, in which only items that have the event = "transaction" criteria, meaning that the customer bought something.

To get an idea how the data is structured, lets have a look at a single random visitorid.

In [ ]:
df[df['visitorid'] == 992329]

             timestamp  visitorid event  itemid  transactionid
1        1433224214164     992329  view  248676            NaN
20559    1433224672007     992329  view  193150            NaN
44215    1433225555976     992329  view  246453            NaN
50030    1433395158782     992329  view    8775            NaN
64989    1433395205712     992329  view    8775            NaN
67693    1433395087236     992329  view    8775            NaN
82514    1433480383896     992329  view  225942            NaN
92903    1433480149682     992329  view  437767            NaN
93057    1433480524891     992329  view  314515            NaN
133552   1433729786622     992329  view   46971            NaN
133651   1433729380709     992329  view  352788            NaN
133782   1433729489683     992329  view  169213            NaN
140216   1433730231553     992329  view  395071            NaN
141987   1433730402675     992329  view  377484            NaN
145189   1433703062882     992329  view   48030            NaN
145597   1433730019241     992329  view  225942            NaN
198995   1433946626515     992329  view  381721            NaN
206958   1433945313290     992329  view  299003            NaN
218143   1434231531446     992329  view   46971            NaN
235412   1434035218038     992329  view  457496            NaN
235797   1434035926844     992329  view  341971            NaN
244778   1434035349084     992329  view    2711            NaN
441596   1435014240987     992329  view  206970            NaN
530937   1435341565477     992329  view  283405            NaN
1492085  1430802384830     992329  view    2711            NaN
1972814  1432782322169     992329  view  446522            NaN
1981137  1432781848232     992329  view  340825            NaN
2165774  1436197608867     992329  view   66480            NaN
2244592  1436503481324     992329  view    8775            NaN
2736260  1438273381735     992329  view  144660            NaN

This visitor visited the page multiple times, each time just viewing an article, sometimes at the same ones. The absense of a 'transactionid' leads to the conclusion that the person never actually bought an item, nor even put something in the cart.